{% extends 'accounts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<div class="login-container" style="background-image: url('{% static 'images/background.jpg' %}');">
    <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% endblock %}
